In [4]:
#Print numbers from 1 to 5 using a while loop.
a = 1
while a<=5:
    print(a)
    a=a+1

1
2
3
4
5

In [1]:
#Calculate the sum of numbers from 1 to 10 using a while loop.
sum = 0
num = 1
while num<11:
    sum = sum + num
    num += 1
    print(sum)

1
3
6
10
15
21
28
36
45
55

In [15]:
#Calculate the factorial of a number using a for loop.
num = int(input("please enter number : "))
fact = 1
if num>=1:
    for i in range (1,num+1):
        fact = fact*i
print("factorial of", num, "is : ",fact)

please enter number :  5

factorial of 5 is :  120

In [35]:
#Count the number of vowels in a string using a for loop.
str = input("please enter the string : ")
vowels = "aeiouAEIOU"
count = 0
for char in str:
    if char in vowels:
        count += 1
print("the no of vowels is : ", count)

please enter the string :  Data Analytics

the no of vowels is :  5

In [39]:
#Print a pattern using nested loops.
#using for loop
for i in range(6):
    for j in range (i+1):
        print('*', end=" ") #end=" " >> use for space in *.
    print() # use for new line

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [45]:
#using while loop
line = 1
while line <7:
    col = 1
    while col <= line:
        print("*", end = ' ')
        col = col+1
    print()
    line = line+1

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [47]:
#Generate a multiplication table using nested loops.
num = 7
for i in range(1,11):
    print(num,"*",i,"=", num*i)

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70